@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');
@font-face {
    font-family: 'Organic';
    src: url('/public/assets/fonts/Organic.ttf') format('truetype');
  }

//NavBar
.header{
    width: 100%;
    background-color: #F7F7F7;
    max-height: 100px;
    .logo{
        margin-top: -10px;
        max-height: 120px;
    }
    p{
        padding-left: 15px;
        font-family:'Organic';
        font-size: 17px;
        @media screen and (min-width:600px ){
            font-size: 27px;
        }
    }
    .boton_menu{
        color:#022380;
        height: 30px;
        border: none;
        background:none;
        :active{
            transform: scale(0.9);
        }
        .menu{
            font-size: 30px;
            height: 100%;
        }
    } 
}

.header__2{
    background-color: #F4F8F4;
    max-height: 100px;
    .logo{
        margin-top: -10px;
        max-height: 160px;
    }
    .boton_menu{
        color:#022380;
        height: 30px;
        border: none;
        background:none;
        :active{
            transform: scale(0.9);
        }
        .menu{
            font-size: 30px;
            height: 100%;
        }
    }
}


//Main

.contenedor__principal{
    .cont__img{
        margin-top: 50px;
        position: relative;
        .logo__main-tree{
            margin-left: 140px;
            max-height: 350px;
            width: 65%;
            position: relative;
            @media screen and (min-width:600px ){
                margin-left: 150px;
                margin-top: 20px;
                position: relative;
            }
        }
        .logo__main-steps{     
            z-index: 10;  
            max-height: 290px;
            bottom:10%;
            left: 10%; 
            width: 50%;
            position: absolute;
            @media screen and (min-width:600px ){
                max-height: 800px;
                z-index: 10;   
                left:-5%;
                margin-top: 50px; 
                width: 45%;
                position: absolute;
            }
        }
    }
    @media screen and (min-width:600px ){
        height: 470px;  
    }
}

//Progress Bar
.progress__bar{
    width: 111px;
    height: 10px;
    border-radius: 5px;
    
}


.boton__main{
    width: 130px;
    height: 30px;
    margin-right: 5px;
    background: #2D7A74;
    border: 3px solid #2D7A74;
    border-radius: 10px;
    cursor: pointer;
    transition:1s;
    &:hover{
        transform: scale(1.1, 1.1);
    }
}


//Boton

.nombre__boton{
    color: #ffffff;
    font-weight: 700;
    padding-left: 10px;
}

//Footer
.footer{
    background-color: #F7F7F7;
    .footer__cont--img{
        padding-right: 20px;
        height: 30px;
        .icon_social{
            max-width: 25px;
        }
        a{
           img {
              cursor: pointer;
              &:hover{
               transform: scale(1.1, 1.1);
               }
           }
       }
   }
}
.footer__2{
    h6{
        color: #022380;
    }
    background-color: #F4F8F4;
    .footer__cont--img{
        .icon_social{
            max-width: 35px;
        }
        a{
           img {
              cursor: pointer;
              &:hover{
               transform: scale(1.1, 1.1);
               }
           }
       }
   }
}

//SobreNosotros
.nosotros{
    .nosotros__titulo{
        font-size: 35px;
        font-weight: 700;
        font-family: 'Karla', sans-serif;
    }
    .nosotros__text{
        font-size: 25px;
        font-family: 'Karla', sans-serif;
        .text__1{
            font-family: 'Manjari', sans-serif;
            font-size: 40px;
            font-weight: 700;
            @media all and (min-width: 1200px){
                text-align: start;
            }
        }
        .text__2{
            font-family: 'Manjari', sans-serif;
            font-size: 20px;
            @media all and (min-width: 1200px){
                text-align: start;
            }
        }

        @media screen and (min-width:600px ){
            margin-left: 50px;
            margin-top: 20px;
        }
    }   
}


//Calculadora
.cont__principal{  

    .cont__preguntas{
        margin-bottom: 20px;
    }

    .cont__boton{
        width: 100%;
        margin-top: 30px;
        margin-right: 200px;
        gap: 20px;
        justify-content: end;
        .boton__cal-back{
            width: 86px;
            height: 30px;
            border-radius: 8px;
            background-color: #FFB875;
            border: 1px solid #e7e7e7;
            text-align: center;
            color: #5B5151;
            font-family: 'Manjari', sans-serif;
            font-weight: 700;
            font-size: 18px;
            padding: 4px;
            cursor: pointer;
            transition:1s;
            &:hover{
                transform: scale(1.1, 1.1);
            }   
        }
        .boton__cal-next{
            width: 86px;
            height: 30px;
            border-radius: 8px;
            background-color: #2D7A74;
            border: 1px solid #e7e7e7;
            text-align: center;
            color: #ffffff;
            font-family: 'Manjari', sans-serif;
            font-size: 18px;
            font-weight: 700;
            padding: 4px;
            cursor: pointer;
            transition:1s;
            &:hover{
                transform: scale(1.1, 1.1);
            }   
        }
    }
}



//Pregunta

.contenedor__principal-img{
    width: 350px;
    height: 400px;
    margin-left: 50px;
    img{
        margin:auto;
        height: 90%;
    }
}
.contenedor__principal-preguntas{
    padding-left: 250px;
    .contenedor__pregunta{
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 20px;
        background-color: #ffffff;
        width: 500px;
        border-radius: 25px 25px;
        border: 1px solid rgb(50, 50, 119);
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Karla', sans-serif;
        
    }
    
    .respuesta__input{
        margin-left: 50px;
        justify-content: center;
        width: 500px;
        margin-top: 20px;
    }

    .contenedor__respuesta-span{
        margin-left: 10px;
        .respuesta__span{
            margin: 0px 25px;
            font-family: 'Karla', sans-serif;
            font-weight: 700;
        }
    }
    
}
    
